@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500&display=swap');

.screens__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    width: 80%;
    background-color: #22353f;
    // margin-right
}

.novnc_canvas {
    width: 1000px;
    height: 600px;
}

.dashboard {
    display: flex;
    justify-content: flex-end;
    width: 1000px;
}

.loading {
    font-family: 'JetBrains Mono', monospace;
    align-self: center;
    display: block;
    text-align: center;
    color: rgb(241, 85, 85);
}

.connected {
    font-family: 'JetBrains Mono', monospace;
    align-self: center;
    display: block;
    text-align: center;
    color: rgb(113, 236, 113);
}

.screen_placeholder {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0e161b;
}

.device__ip {
    text-align: center;
    font-family: 'JetBrains Mono', monospace;
    height: 30px;
    width: 150px;
    border-radius: 5px;
}