* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #17242c;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

// .app__container {

//     display: flex;
//     justify-content: center;
// }

.device__container {
    height: 100vh;
    display: flex;
    justify-content: center;
    gap: 20px;
}